<div *ngIf="control" class="form-group">
  <label [for]="inputId">{{ label }}</label>
  <ngx-intl-tel-input
    [preferredCountries]="[
      CountryISO.UnitedStates,
      CountryISO.Nigeria,
      CountryISO.UnitedKingdom,
      CountryISO.Kenya,
      CountryISO.Canada,
      CountryISO.India,
      CountryISO.SouthAfrica,
      CountryISO.Germany
    ]"
    [enableAutoCountrySelect]="true"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.All]"
    [selectFirstCountry]="false"
    [selectedCountryISO]="CountryISO.UnitedStates"
    [numberFormat]="PhoneNumberFormat.International"
    [separateDialCode]="true"
    [maxLength]="15"
    [phoneValidation]="true"
    [inputId]="inputId"
    [formControl]="control"
    [class.custom-has-error]="hasPhoneError"
    class="form-control p-0"
  ></ngx-intl-tel-input>
  <app-form-control-errors [control]="control"></app-form-control-errors>
</div>
